[alias]
	st = status
	ci = commit
	co = checkout
	b = branch
	d = diff
	dc = diff --cached
	cia = commit --amend
	loggo = log --graph --oneline
	pr = gh pr checkout
[user]
	name = Nicholas Devenish
	email = ndevenish@gmail.com
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[init]
	templateDir = /Users/nickd/.git-template
	defaultBranch = main
[pull]
	ff = only

[include]
    path = ~/.gitconfig-local

# Whitespace-sensitive diffing - this now loaded by .gitconfig-local (if present)
#[pager]
#    log = /opt/homebrew/Cellar/git/2.32.0_1/share/git-core/contrib/diff-highlight/diff-highlight | less
#    show = /opt/homebrew/Cellar/git/2.32.0_1/share/git-core/contrib/diff-highlight/diff-highlight | less
#    diff = /opt/homebrew/Cellar/git/2.32.0_1/share/git-core/contrib/diff-highlight/diff-highlight | less
#[interactive]
#    diffFilter = /opt/homebrew/Cellar/git/2.32.0_1/share/git-core/contrib/diff-highlight/diff-highlight
[merge]
	conflictStyle = zdiff3
[push]
	autoSetupRemote = true
[core]
	attributesfile = /home/mep23677/.gitattributes

